<input type="checkbox" id="menu-toggle" class="menu-toggle">
<label for="menu-toggle" class="hamburger-icon">&#9776;</label>

<div class="menu">
    <div class="menu-item">
        <img class="logo" 
            title="Logo del restaurante" 
            src="../../assets/icono.jpg" 
            alt="Logo del restaurante">
    </div>

    <button (click)="irALogin()" class="c-sesion">Cerrar Sesión</button>
</div>

<div (click)="IrADashboard()" class="mesas">
    <div class="mesa">
        <h2>Mesa 1</h2>
        <img src="../../assets/mesas.png" alt="Mesa">
    </div>
    <div (click)="IrADashboard()" class="mesa">
        <h2>Mesa 2</h2>
        <img src="../../assets/mesas.png" alt="">
    </div>
    <div (click)="IrADashboard()" class="mesa">
        <h2>Mesa 3</h2>
        <img src="../../assets/mesas.png" alt="">
    </div>
    <div (click)="IrADashboard()" class="mesa">
        <h2>Mesa 4</h2>
        <img src="../../assets/mesas.png" alt="">
    </div>
    <div (click)="IrADashboard()" class="mesa">
        <h2>Mesa 5</h2>
        <img src="../../assets/mesas.png" alt="">
    </div>
    <div (click)="IrADashboard()" class="mesa">
        <h2>Mesa 6</h2>
        <img src="../../assets/mesas.png" alt="">
    </div>
    <div (click)="IrADashboard()" class="mesa">
        <h2>Mesa 7</h2>
        <img src="../../assets/mesas.png" alt="">
    </div>
    <div (click)="IrADashboard()" class="mesa">
        <h2>Mesa 8</h2>
        <img src="../../assets/mesas.png" alt="">
    </div>    
    <div (click)="IrADashboard()" class="mesa">
        <h2>Mesa 9</h2>
        <img src="../../assets/mesas.png" alt="">
    </div>
</div>



