<div class="menu">
    <div class="menu-item">
        <img title="Logo del restaurante" 
            src="../../assets/icono.jpg" 
            alt="Logo del restaurante">
    </div>
    <button (click)="irAlDashboard()" class="anular">Anular</button>
    <button class="guardar">Guardar</button>
    <button (click)="irALogin()" class="c-sesion">Cerrar Sesión</button>

    <div class="total">
        <h2>Total a Pagar</h2>
        <span>S/ 37.70</span>
    </div>
</div>

<div class="container-descrip">
    <div class="descrip">
        <h2>Descripción</h2>
        <div class="boleta">
            <table class="tabla-simple">
                <thead>
                    <tr>
                        <th>Pedidos</th>
                        <th>Cant</th>
                        <th>PU</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Promo Personal</td>
                        <td>1</td>
                        <td>S/ 15.90</td>
                        <td>S/ 15.90</td>
                    </tr>
                    <tr>
                        <td>Inka Kola Sabor Original 500ml</td>
                        <td>1</td>
                        <td>S/ 5.90</td>
                        <td>S/ 5.90</td>
                    </tr>
                    <tr>
                        <td>Torta de Chocolate</td>
                        <td>1</td>
                        <td>S/ 15.90</td>
                        <td>S/ 15.90</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

